extends layout

block content

	h1 Welcome to real-time chat service
	
	blockquote This chatroom service allows you to conveniently chat with your peers online.
	p #{title}
	p #{chat}
	div(style="",name="userBox")
		form(method="POST", action="/chatroom", name="login", class="pure-form")
			p
			input(type="hidden", name="_method", value="PUT", autocomplete="off")
			p username:
				input(type="text", name="username",id="username")
			p
				input(type="submit", class="pure-button  pure-button-primary", name="submit")

	

	
	



